body {
    background-image: url("./images/backgroundforce4studios.jpg");
}

h1 {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: black;
}

.lead {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}